@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
	var firstWeek = Model.CleaningWeeks.FirstOrDefault();


}
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Stylish&display=swap" rel="stylesheet">
</head>

<!--Notification system: " user: zebri added a new task to the cleaninglisttask", "goran has flagged that we are low on toiletpaper....-->

<div class="topbar">
	<div class="titlebox">
		<h1>Commonspace</h1>
		<p id="titledescription">An app for organising student halls.</p>

		<p id="locationinfo">Rönnbladsgatan 2A floor 2</p>

	</div> 

	<div class="regloginbar">
		<button class="btn">Login</button>
		<button class="btn">Register</button>
	</div>
</div>

<div class="containers2">

	<div class="bulletin-cleaning-section">
		<p id="bulletinTitle">Bulletin Board</p>

		<div class="bulletinboardcontainer">

		</div>

		<div class="footer-bulletin containersfooters2">
			<p>abdi</p>
		</div>
	</div>



	<div class="bulletin-cleaning-section"> <!--entire container with title-->

		<p id="cleaningTitle">Cleaning Schedule</p> <!--title forcontainer-->


		<div class="cleaning-order-shoppinglist-container"> <!---- container for cleaning/shopping/order--->


			<div class="orangeHeader">
				<div class="currentCleaner">
					<p id="currentcleanertext">Current Cleaner:</p>

					
					<p id="currentcleanerName" >@firstWeek?.Cleaner?.Name</p>	
					<p id="currentcleanerdates">@firstWeek?.StartDate.ToString("MM/dd") - @firstWeek?.EndDate.ToString("MM/dd")</p>

				</div>
			</div>


			<div class="taskSection">
				<p class="cleaningboxTitles" id="tasksTitle">Tasks</p>
				<div class="cleaningtasks"> <!--container for cleaning tasks (GRAY)-->

					<ul>
					@foreach (var task in Model.CleaningTasks)
					{
						<li class="selectable-task" data-id="@task.Id">
							<div class="cleaningTaskContainer">

								<input type="checkbox" class="cleaningTaskCheckbox">
								<p id="cleaningTaskTitle">@task.Name</p>

							</div>
						</li>
					}
					</ul>

				</div>
			</div>

			<div class="order-shoppinghalf">  <!--splits big container in half for shopping and order to be on the left side-->

				<div class="orderSection"> <!--order area + its title-->
					<p class="cleaningboxTitles"> Next Cleaner</p>

					<div class="orderContainer"> <!--GRAY AREA-->
						@foreach (var week in Model.CleaningWeeks.Take(6).Skip(1)) // foreach loop ignoring the first week and only showing 5 items
						{
							<div class="orangeorderbox">
							<p id="nextCleanerName" >@week.Cleaner?.Name </p>							<!----"?" to avoid crash if "cleaner" happends to be null-->
							<p id="nextCleanerDates">@week.StartDate.ToString("MM/dd") - @week.EndDate.ToString("MM/dd")</p>
							</div>
			
						}						
					</div>
			</div>

			<div class="shoppingListSection">
					<p class="cleaningboxTitles">Items to buy</p>
				<div class="shoppinglistContainer">
					<ul>
					@foreach (var item in Model.ShoppingItems)
                    {
						<li class="selectable-item" data-id="@item.Id"> <!--handler for deletion-->
						<p>@item.Name</p>
					    </li>
                    }
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="formContainer" class="hidden-form">

			<div class="popupHeaderAdd">
			<p id="tasktitlepopup" class="headerpopuptitles">Task</p>
			<p id="shoppingitemtitlepopup" class="headerpopuptitles">Shopping Item</p>

			</div>

		<div class="popupGrid">

			<form method="post" id="addTaskForm" asp-page-handler="addTask">
			<input class="addItemInput"  type="text" asp-for="InputTaskName" placeholder="Enter task name" />
			</form>

			<form method="post" id="addItemForm" asp-page-handler="addShoppingItem">
			<input class="addItemInput" type="text" asp-for="ShoppingItemName" placeholder="Enter item name" />
			</form>
			<input class="saveAddItem" type="submit" form="addTaskForm" value="Add" />
			<input class="saveAddItem" type="submit" form="addItemForm" value="Add" />

		</div>
				
	</div>


		<div id="footercleaning" class="containersfooters2">
			<form method="post" asp-page-handler="DeleteItem">
				<input type="hidden" id="selectedItemId" name="id" />  <!-- har inputs för ID och ITEMTYPE-->
				<input type="hidden" id="selectedItemType" name="itemType" />
				
				<button class="footerBTN" type="submit" id="deleteBTN">Delete</button> 
			</form>
				<button onclick="togglePopup()" id="popupToggleBtn" class="open-btn">Add Task</button>
		</div>
	</div>


</div>



<script src="~/js/togglemenu.js"></script>

<script src="~/js/SelectForDelete.js"></script>






  